<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Orb</title>
    <link rel="shortcut icon" href="#">
  </head>
  <body class="container">
    <h1 class="text-center">Orb<br>Ticket Finder Chat-bot</h1>
    <hr>
    <div class="container" id="content-area">

      <!-- Chat room area -->
      <div class="chat-area">
        <div class="chat-text-container"><div class="bot-chat bg-warning">{{orb_init}}</div></div><br/>
      </div>

      <!-- User input form  -->
      <div id="input-area">        
        <div class="form-row">
          <div class="form-group col-11" id="input-container">
            <input required type="text" class="form-control" id="user-input" placeholder="Enter your response">
          </div>
          <button type="button" id="send-input" class="btn btn-primary mb-3 col-1">Send</button>
        </div>        
      </div>

    </div>

    <script src="{{ url_for('static', filename='dist/home.js') }}"></script>
  </body>
</html>